body {
    font-family: Monaco;
}

ul , li{
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    display: block;
    padding:5px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
    background-color: aquamarine;
}

ul {
    padding: 10px;
    box-sizing: border-box;
}

.template, .meta, .data, .tl-tr, .tr-br, .br-bl, .bl-tl, .blinker {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    display: none;
}



.template.loading, .blinker.loading,  .meta.loading, .data.loading,  .tl-tr.loading, .tr-br.loading, .br-bl.loading, .bl-tl.loading {
    display: block;
}

@-webkit-keyframes colorPulse { 0% {background-color: aqua;} 50% {background-color: aquamarine;} 100% {background-color: aliceblue;} }

.loading { -webkit-animation: colorPulse 100ms infinite alternate; }